@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body{
    font-family: 'Maven Pro', sans-serif!important;
}

html,body {
	height: 100%;
}

body {
	background-color: #f7f9fb;
	font-size: 14px;
}

 .brand {
	width: 90px;
	height: auto;
	overflow: hidden;
	margin: 40px auto;
    position: relative;
	z-index: 1;
}

 .brand img {
	width: 100%;
}

 .card-wrapper {
    width: 400px;
    margin: auto;
}

 .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

 .card.fat {
	padding: 10px;
}

 .card .card-title {
	margin-bottom: 30px;
}

 .form-control {
	border-width: 2.3px;
}

 .form-group label {
	width: 100%;
}

 .btn.btn-block {
	padding: 12px 10px;
}

 .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	 .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	 .card.fat {
		padding: 0;
	}

	 .card.fat .card-body {
		padding: 15px;
	}
}

.dialpad-numbers {
	margin-bottom: 10px;
}

.dialpad-numbers a.btn.btn-block {
	padding: 10px 0;
}

.dialpad-alpha {
	font-size: 11px;
	color: #CCC;
}

.dialpad-number{
	margin-bottom: 0px;
}

.dialpad-display{
    background: white;
    padding: 20px 20px;
}

.dialpad-display > input{
	border: none;
}

.backspaceIco{
	color: #CCC;
}

.f26{
	font-size: 26px;
}

.dialedNumbers{
	font-size: 2rem;
	border-bottom:1px solid #545b62!important;
}

.pTop10{
	padding-top: 10px;
}

.btn-circle.btn-xl { 
	width: 70px; 
	height: 70px; 
	padding: 10px 16px; 
	border-radius: 35px; 
	font-size: 26px; 
	text-align: center; 
}

.dialedNumbers:focus{
	box-shadow: none;
}

.buttonsBottom{
	margin:25px 0px 0px 0px!important;
}

.buttonsBottom > div > i{
	font-size: 26px;
	color: #CCC;
}

.buttonsBottom > div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.incomeCallerNumber{	
    text-align: center;
    font-size: 34px;
}

.incomeCallActionButt{
    position: absolute;
    bottom: 0;
    width: 90vw;
}

.btn-inCall {
    color: #545b62;
    border-color: #545b62;
}

.dropCallBut{
	transform: rotate(135deg);
}

.incomeCallActionButt > .col-4{
	text-align: center;
	padding-bottom: 30px;
}