<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center align-items-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="img/logo.png" alt="bootstrap 4 login page" ui-sref="home" >
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Reset Password</h4>
                        <form  class="my-login-validation" novalidate="">
                            <div class="form-group">
                                <label for="new-password">E-Mail Address</label>
                                <input id="new-password" type="email" class="form-control" name="email" required autofocus>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                                <div class="form-text text-muted">
                                    We will sent you password reset link on your email.
                                </div>
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Reset Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright &copy; 2020 &mdash; Compass Holding, llc 
                </div>
            </div>
        </div>
    </div>
</section>