<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
<div class="col-12 centered-block" ng-show="dialPadVis">
    <br>
    <div class="card  shadow-z-2" ng-class="{'shadow-z-4': call_history, 'shadow-z-2': !call_history}">
        <div class="input-group dialpad-display">
          <span class="input-group-btn-left">
            <a href="" ng-click="toggleCallHistory()">
              <i class="mdi-action-settings-phone"></i>
            </a>
          </span>
          <input id="dialpadNumberInput" type="text" class="form-control text-center dialedNumbers" placeholder="" ng-model="dialpadNumber" maxlength="10" />
          <span class="input-group-btn f26 pTop10">
            <a href="" ng-click="backspace()">
                <i class="fas fa-backspace" style="color: #545b62;"></i>
            </a>
          </span>
        </div>
        <div class="card-body">
          <div class="dialpad-numbers">
            <div class="row">
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(1)">
                  <h2 class="dialpad-number">1</h2>
                  <span class="dialpad-alpha">./@</span>
                </a>
              </div>
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(2)">
                  <h2 class="dialpad-number">2</h2>
                  <span class="dialpad-alpha">ABC</span>
                </a>
              </div>
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(3)">
                  <h2 class="dialpad-number">3</h2>
                  <span class="dialpad-alpha">DEF</span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(4)">
                  <h2 class="dialpad-number">4</h2>
                  <span class="dialpad-alpha">GHI</span>
                </a>
              </div>
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(5)">
                  <h2 class="dialpad-number">5</h2>
                  <span class="dialpad-alpha">JKL</span>
                </a>
              </div>
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(6)">
                  <h2 class="dialpad-number">6</h2>
                  <span class="dialpad-alpha">MNO</span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(7)">
                  <h2 class="dialpad-number">7</h2>
                  <span class="dialpad-alpha">PQRS</span>
                </a>
              </div>
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(8)">
                  <h2 class="dialpad-number">8</h2>
                  <span class="dialpad-alpha">TUV</span>
                </a>
              </div>
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(9)">
                  <h2 class="dialpad-number">9</h2>
                  <span class="dialpad-alpha">WXYZ</span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf('*')">
                  <h2 class="dialpad-number dialpad-star">*</h2>
                  <span class="dialpad-alpha"></span>
                </a>
              </div>
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf(0)">
                  <h2 class="dialpad-number">0</h2>
                  <span class="dialpad-alpha">+</span>
                </a>
              </div>
              <div class="col-4">
                <a class="btn btn-block" href="" ng-click="dtmf('#')">
                  <h2 class="dialpad-number dialpad-pound">#</h2>
                  <span class="dialpad-alpha"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group text-center col-6">
                <button  class="btn btn-danger btn-circle btn-xl" ng-click="call(dialpadNumber)" ng-disabled="!enableCallBtn">
                    <i class="fas fa-voicemail"></i>
                </button>
            </div>
            <div class="form-group text-center col-6">
                <button  class="btn btn-success btn-circle btn-xl" ng-click="call(dialpadNumber)" ng-disabled="!enableCallBtn">
                    <i class="fas fa-phone-alt"></i>
                </button>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="col-12 centered-block ng-scope" ng-show="phoneRingView">
    <br>
    <div class="card  shadow-z-2" ng-class="{'shadow-z-4': call_history, 'shadow-z-2': !call_history}">
        <div class="card-body" style="height: 574px;">
         <p class="incomeCallerNumber">{{phoneRingCaller}}</p>
          <div class="row incomeCallActionButt">
            <div class="form-group text-center col-6">
                <button class="btn btn-danger btn-circle btn-xl" ng-click="sipHangUp()" >
                    <i class="fas fa-phone-alt dropCallBut" aria-hidden="true"></i>
                </button>
            </div>
            <div class="form-group text-center col-6">
                <button class="btn btn-success btn-circle btn-xl" ng-click="acceptInCall()" >
                    <i class="fas fa-phone-alt" aria-hidden="true"></i>
                </button>
            </div>
          </div>
        </div>
    </div>
  </div>
  

  <div class="col-12 centered-block ng-scope" ng-show="phoneInCallView">
    <br>
    <div class="card  shadow-z-2" ng-class="{'shadow-z-4': call_history, 'shadow-z-2': !call_history}">
        <div class="card-body" style="height: 574px;">
         <p class="incomeCallerNumber">{{phoneRingCaller}}</p>
         <p class="incomeCallerNumber"><timer>{{minutes}} : {{seconds}} </timer></p>
         
         <div class="incomeCallActionButt row">
            <div class="col-4">
                <button class="btn btn-inCall btn-circle btn-xl" >
                    <i class="fas fa-plus"></i>
                </button>
                <br>
            </div>
            <div class="col-4">
                <button class="btn btn-inCall btn-circle btn-xl" >
                    <i class="fas fa-microphone-alt-slash"></i>
                </button>
                <br>
            </div>
            <div class="col-4">
                <button class="btn btn-inCall btn-circle btn-xl" >
                    <i class="fas fa-volume-up"></i>
                </button>
                <br>
            </div>
            <div class="col-4">
                <button class="btn btn-inCall btn-circle btn-xl" >
                    <i class="fas fa-random"></i>
                </button>
                <br>
            </div>
            <div class="col-4">
                <button class="btn btn-inCall btn-circle btn-xl" >
                    <i class="fas fa-pause"></i>
                </button>
                <br>
            </div>
            <div class="col-4">
                <button class="btn btn-inCall btn-circle btn-xl" >
                    <i class="far fa-keyboard"></i>
                </button>
                <br>
            </div>

            <div class="form-group text-center col-12" style="padding-top:15px;">
                <button class="btn btn-danger btn-circle btn-xl" ng-click="sipHangUp()" >
                    <i class="fas fa-phone-alt dropCallBut" aria-hidden="true"></i>
                </button>
            </div>
         </div>
            

        </div>
    </div>
  </div>


<div class="row buttonsBottom">
    <div class="col-3 text-center"><i class="far fa-user-circle"></i></div>
    <div class="col-3 text-center"><i class="far fa-comment-alt"></i></div>
    <div class="col-3 text-center"><i class="far fa-keyboard"  style="color:#545b62"></i></div>
    <div class="col-3 text-center"><i class="fas fa-fax"></i></div>
</div>

    

  <audio id="audioRemote" autoplay="autoplay"></audio>

  <audio id="ringtone" loop src="audio/ringing.mp3"> </audio>
 
  <div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>