<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="img/logo.png" alt="logo">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Compass Central</h4>
                        <form method="POST" class="my-login-validation" novalidate="">
                            <div class="form-group">
                                <label for="email">E-Mail Address</label>
                                <input id="email" type="email" class="form-control" name="email" value="" required autofocus ng-model="email">
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password
                                    <a ui-sref="forgot" class="float-right">
                                        Forgot Password?
                                    </a>
                                </label>
                                <input id="password" type="password" class="form-control" name="password" required data-eye ng-model="pass">
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                                <div class="form-text text-muted" ng-if="wrongUserData">
                                    {{wrongUserDataMessage}}
                                </div>
                            </div>

                            <div class="form-group m-0"> <!-- <button ng-click="checkLog(email,pass)" class="btn btn-primary btn-block">Login</button>-->
                                <button ng-click="checkLog(email,pass)" class="btn btn-primary btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright &copy; 2020 &mdash; Compass Holding, llc 
                </div>
            </div>
        </div>
    </div>
</section>
<audio id="audioRemote" autoplay="autoplay"></audio>